{% extends 'layout.html' %}

{% block title %}
	{% parent %} — {{ title }}
{% endblock %}

{% block content %}
<h2>Streams <small>{% if genre %}  Genre:{{genre}}{% endif %}{% if format %}  Format:{{format}}{% endif %}{% if q %}  Search:{{q}}{% endif %}</small></h2>
<div id="servers-list">
	{% if error %}
		<p class="error">{{ error }}</p>
	{% else %}
		{% for server in servers %}
			{% include "./stream.html" %}
		{% endfor %}
	{% endif %}
	{% if home %}
	<a href="{{home}}">Start</a>
	{% endif %}
	{% if prev %}
	<a href="{{prev}}">Prev</a>
	{% endif %}
	{% if next %}
	<a href="{{next}}">Next</a>
	{% endif %}
</div>
{% endblock %}
