<div class="container-fluid well well-sm">
	<div class="row">
		<div class="col-sm-11">
			{% if server.url %}
				<h4><a href="{{ server.url }}">{{ server.stream_name }}</a>
			{% else %}
				<h4>{{ server.stream_name }}
			{% endif %}
			{% if !server.listeners %} {% set server.listeners = "0" %} {% endif %}
			{% if server.listeners == "1" %}
				<small>{{ server.listeners }}&nbsp;Listener</small></h4>
			{% else %}
				<small>{{ server.listeners }}&nbsp;Listeners</small></h4>
			{% endif %}
		</div>
		{% for listenurl in server.listenurls %}
			{% if loop.first %}
			<div class="col-sm-1 hidden-xs streamentry" style="padding-left: 0" data-contenttype="{{ server.stream_type }}" data-listenurl="{{ listenurl }}" data-streamname="{{ server.stream_name }}"></div>
			{% endif %}
		{% endfor %}
	</div>
	<p class="description">{{ server.description }}</p>
	{% if !server.songname %} {% set server.songname = "Unknown" %} {% endif %}
	<p class="songname"><b>On Air:</b> <i>{{ server.songname }}</i></p>
	<p class="genres"><b>Genres:</b>
		{% for genre in server.genres %}
			<a href="/search/?genre={{ genre |url_encode}}" class="label label-default">{{ genre }}</a>
		{% endfor %}
	</p>
	<p class="tunein"><b>Tune in:</b> <a href="/listen/{{ server.id }}/listen.m3u">M3U</a> | <a href="/listen/{{ server.id }}/listen.xspf">XSPF</a></p>
	{% for format in server.codec_sub_types %}
		{% if loop.first %}
		<p class="codec"><a href="/search/?format={{ format |url_encode}}">{{ format }}</a>
		{% endif %}
	{% endfor %}
	<!--p class="format">{{ server.stream_type }}</p-->
</div>
